.App {
  height: 100vh;
  transition: all 0.5s linear;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;

}
.head {
  position:  absolute;
  top: 0;
  right: 15px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  gap: 2rem;
}
button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  
}

.footer{
  flex: 0 0 auto;
}